<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<appender name="DefaultAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${SERVER_HOME}/logs//server.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${SERVER_HOME}/logs//watering.%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>300MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss.SSS,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<appender name="HTTPAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${SERVER_HOME}/logs//http_controller.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${SERVER_HOME}/logs//http_controller.%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>300MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss.SSS,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<appender name="BackgroundServiceAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${SERVER_HOME}/logs//background.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${SERVER_HOME}/logs//background.%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>300MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss.SSS,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<logger name="com.dcloud.watering.server.controller"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="HTTPAppender" />
	</logger>

	<logger name="com.dcloud.watering.server.service.background"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="BackgroundServiceAppender" />
	</logger>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyy-MM-dd HH\:mm\:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="DefaultAppender" />
	</root>
</configuration>
